/* work sans fonts from google  */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared css file  */

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}
.logo-color{ 
    color: #FF42A5; 
}
.btn1{
    border-radius: 3rem;
    background-color: #FF42A5;
    padding: 1rem 2rem;
    color: #FFF;
    font-size: 1.25rem;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
}
.funny-title-h3{
    font-size: 3rem;
    color: #0B0223;
    font-weight: 700;
}
.gamer-section-title{
    font-size: 3rem;
    color: #8758F1;
    font-weight: 700;
    margin-bottom: 1.5rem;
}



                            /* nav section start   */


.logo{
    display: flex;
    align-items: center;
    font-size: 3rem;
    gap: 1rem;
}
header{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 0px 240px;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05); */
    padding: 1.25rem;
    
}
nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 1.25rem;
    font-size: 1rem;
    font-weight: 500;
}
nav ul li a{
    text-decoration: none;
}
.icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 1rem;
}

                             /* nav section end   */

                             /* banner section - 1 start  */

.banner-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 240px;
}
section .banner-title{
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}
section h2{
    font-size: 6rem;
    color: #8758F1;
}
section p{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
}
section img{
    width: 50%;
}
section ul{
    margin-bottom: 2rem;
}

section li{
    display: flex;
    align-items: center;
    gap: 1rem;
    line-height: 2.25rem;
}
.btn2{
    border-radius: 3rem;
    background: #4EC5F7;
    padding: 1rem 2rem;
    color: #FFF;
    font-size: 1.25rem;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 1rem;
}

                                      /* banner section - 1 end  */

                                      /*  section - 2 start  */

.gamer-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    padding: 50px 240px;
}
.gamer-section-container{
    gap: 2rem;
}
.gamer-section-p{
    font-size: 1.12rem;
    font-weight: 400;
}
.gamer-section-btn{
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
.gamer-section-span{
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
    margin-top: 1.5rem;
}

                                      /*  section - 2 end  */

                                      /*  section - 3 start  */

.funny-videos-section{
    padding: 50px 240px;
}
.funny-title{
    text-align: center;
    margin-bottom: 2rem;
}
.funny-videos{
    display: flex;
}
.img{
    width: 25%;
}
.img1{
    width: 90%;
}
.img p{
    font-size: 1.12rem;
}
 
                                      /*  section - 3 end  */

                                      /*  section - 4 start  */

.playgames-section{
    padding: 50px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}
.playgames-section h3{
    color: #0B0223;
}
.playgames-section p{
    font-size: 1.12rem;
    font-weight: 400;
    margin-top: 1.5rem;
}
.funny-section-img{
    display: flex;
}
.funny-img3{
    width: 35%;
    height: 40%;
    position: relative;
    top: 230px;
    left: 110px;
    border: 2px solid #FFF;
}
.funny-img4{
    width: 75%;
}

                                    /*  section - 4 end  */

                                    /*  section - 5 start  */

.onlinegames-section{
    padding: 150px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}
.online-section-img{
    display: flex;
    margin-right: 100px;
}
.online-img3{
    width: 85%;
}
.online-img4{
    width: 35%;
    height: 40%;
    position: relative;
    top: 230px;
    left: -110px;
    border: 2px solid #FFF;
}

                                    /*  section - 5 end  */

                                    /*  section - 6 start  */

.Careers-section{
    padding: 50px 240px;
    background-color: #FF42A5;
    display: flex;
}

.Careers-section h3{
    color: #FFF;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.Careers-section-p{
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;
}
.flex{
    display: flex;
}
.flex1{
    color: #FFF;
    font-size: 1rem;
    text-align: left;
}
.flex2{
    color: #FFF;
    font-size: 1rem;
    text-align: right;
}
.flexbtn{
    background-color: #FFF;
    padding: 1.25rem 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    margin-top: 30px;
}

                                    /*  section - 6 end  */


                                    /*  section - 7 start  */

.games-section{
    padding: 50px 240px;

}
.games-section-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1.5rem;
}
.games-list{
    display: flex;
    align-items: center;
    border: 1px solid #FFF;
    border-radius: 50px;
    background: #FFF;
    padding: 5px;
}
.selector{
    border: 1px solid black;
}
.games-list img{
    width: 35px;
}
.games-list p{
    padding: 1rem 1rem;
    font-size: 1rem;
    font-weight: 600;
}

                                    /* banner section - 7 end  */




.footer-section{
    padding: 50px 240px;
    background-color: black;
}
.footer-logo{
    color: #FFF;
}
.footer-section li a{
    color: #FFF;
}
.footer-section .logo{
    justify-content: center;
    margin-bottom: 4rem;
}
.footer-section ul{
    justify-content: center;
}